__pycache__
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
eggs/
lib/
lib64/
*.egg-info/
.venv/
venv/
env/
.IDE
.idea/
.vscode/
*.swp
*.swo
*.DS_Store
*.ipynb
*.ipynb_checkpoints
*.log
.git/
.gitignore
.venv/
